@import './config.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: color(var(--color-bg) shade(1%));
  color: var(--color-fg);
}

body.dark {
  background: color(var(--color-dark-bg) shade(20%));
  color: var(--color-dark-fg);
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background: color(var(--color-dark-bg) shade(20%));
    color: var(--color-dark-fg);
  }
}
